/* Write your code here. */

.container {
  background-image: linear-gradient(#1d976c, #93f9b9);
  height: 100vh;
  margin: 0px;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.img-1 {
  height: 500px;
  width: 500px;
}
